.see {
    padding-top: 80px;
    background-color: #E5E5E5;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;


        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #D9D9D9;
        border-radius: 4px;
        padding: 30px 20px;
        min-height: 200px;
                border-radius: 10px;
background: rgba(217, 217, 217, 1);
    }

    &__title-card {
        color: rgba(0, 0, 0, 1);
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        margin: 0 0 10px 0;
    }

    &__subtitle-card {
        color: rgba(0, 0, 0, 1);
        font-family: Montserrat, sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 39px;
        text-align: center;
        margin: 0 0 20px 0;
    }

    &__img-card {
        width: 85px;
        height: 85px;
        object-fit: contain;
        margin-top: auto;
    }
}