.weather {
    padding: 60px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.weather__list{
    display: flex;
    gap: 90px;
}

.weather__card {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px 24px;
    width: 280px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: #333;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.weather__city {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.weather__country {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: right;
}

.weather__btn__one {
    padding: 8px 14px;
    border-radius: 10px;
    background: rgba(255, 179, 108, 1);
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 1);

    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: right;
}

.weather__btn {
    padding: 8px 14px;

    border-radius: 10px;
    background: rgba(255, 179, 108, 1);
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 1);

    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: right;
}


.weather__time {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;

}

.weather__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}



.weather__date {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
}

.weather__icon-wrap {
    display: flex;
    justify-content: center;
}

.weather__icon {
    width: 120px;
    height: 120px;
}

.weather__temp {
    color: rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
}

.weather__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}