.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 12px 0;


    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__logo {
        text-decoration: none;
        display: block;
    }



    &__nav {
        margin-right: auto;
        margin-left: 50px;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__nav-item {
        margin-right: 30px;
    }

    &__nav-link {
        text-decoration: none;
        color: #444;
        font-size: 1em;
        padding: 5px 0;
        transition: color 0s;
    }

    &__nav-link:hover {
        color: #000;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__sign-up-button {
        background-color: #ffb86c;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 10px 25px;
        font-size: 1em;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0&__2s;
    }

    &__sign-up-button:hover {
        background-color: #fca548;
    }

    &__menu-box {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .header {

        &__nav {
            display: none;
        }

        &__user {
            display: none;
        }

        &__menu-box {
            display: block;
        }

        &__menu-link {
            color: rgba(0, 0, 0, 1);

            font-family: Montserrat Alternates;
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0%;
            text-align: left;
        }
    }


}