.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 12px 0;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__logo {
        text-decoration: none;
        display: block;
    }

    &__nav {
        margin-right: auto;
        margin-left: 50px;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__nav-item {
        margin-right: 30px;
    }

    &__nav-link {
        text-decoration: none;
        color: #444;
        font-size: 1em;
        padding: 5px 0;
        transition: color 0.2s;
    }

    &__nav-link:hover {
        color: #000;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__sign-up-button {
        background-color: #ffb86c;
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 10px 25px;
        font-size: 1em;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.2s;
    }

    &__sign-up-button:hover {
        background-color: #fca548;
    }

    &__menu-box {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__nav {
            display: none;
        }

        &__user {
            display: none;
        }

        &__menu-box {
            display: block;
        }

        &__menu-link {
            color: rgba(0, 0, 0, 1);
            font-family: Montserrat Alternates;
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
}



.header__modal {
    .ant-modal-content {
        border-radius: 20px;
        padding: 30px;
        width: 530px;
        height: 534px;
    }
}

.header__modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header__modal-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}

.header__modal-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header__modal-label {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-left: 5px;
    text-align: left;
}

.header__modal-input {
    width: 440px;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    background-color: #E6E6E6;
    font-size: 14px;
    outline: none;
    color: #333;
    align-items: center;

    &::placeholder {
        color: #999;
    }

    &:focus {
        box-shadow: 0 0 0 2px rgba(255, 160, 81, 0.5);
    }
}

.header__modal-btn {
    margin-top: 20px;
    background-color: #FFB067;
    color: #333;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    width: 140px;
    align-self: center;

    &:hover {
        background-color: #ff9f47;
    }
}

.header__modal-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;


}

.header__modal-footer-a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}