.gallery {
    padding-bottom: 48px;

    &__list {
        margin-top: 40px;
        display: flex;
    }

    &__title {
        color: rgba(0, 0, 0, 1);

        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
}


@media screen and (max-width: 1200px) {
    .gallery {
        display: none;
    }
}