.footer {
    width: 100%;
    height: 179px;
    background: rgba(255, 179, 108, 1);

    &__box {
        display: flex;
        justify-content: left;
        gap: 100px;
        padding-top: 40px;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    &__logo-img {
        width: 90px;
        height: 62px;
    }

    &__link-title {
        text-align: left;
    }

    &__addressa-box {
        text-align: left;
    }

    &__social-icons {
        display: flex;
        gap: 15px;
    }

    &__addressa-title {
        text-align: left;
        margin-bottom: 10px;

        color: rgba(0, 0, 0, 1);
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
    }

    &__addressa-subtitle {
        color: rgba(0, 0, 0, 1);

        font-family: Montserrat Alternates;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__link-title {
        text-align: left;
        margin-bottom: 10px;

        color: rgba(0, 0, 0, 1);

        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;

    }




}

@media screen and (max-width: 1200px) {
    .footer {

        &__logo-box {
            margin-left: 100px;
        }
    }
}

@media screen and (max-width: 800px) {
    .footer {
        height: auto;
        padding-bottom: 20px;

        &__box {
            display: flex;
            justify-content: space-around; 
            gap: 20px; 
            padding-left: 10px;
            padding-right: 10px;
            flex-wrap: nowrap; 
        }

        &__logo-box {
            margin-left: 0; 
        }

        &__link-box {
            flex: 0 1 auto; 
            align-items: flex-start; 
            margin-top: 0;
        }

        &__link-title {
            text-align: left; 
        }
        
        &__social-icons {
            justify-content: flex-start; 
        }
    }
}

@media screen and (max-width: 420px) {
    .footer {
        height: auto; 
        padding-bottom: 30px; 

        &__box {
            flex-wrap: wrap; 
            justify-content: left; 
            padding-left: 20px;
            padding-right: 20px;
            gap: 50px;

        }

        &__logo-box {
            margin-left: 0;
            flex: 0 0 auto;
        }

        &__logo-a, 
        &__logo-img {
            width: 80px;
            height: auto;
        }

        &__addressa-box {
            flex: 0 0 auto;
        }


        &__link-box {
            flex: 1 1 100%; 
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 20px; 
        }

        &__link-title {
            text-align: center;
        }

        &__social-icons {
            justify-content: center; 
        }
    }
}